#landing_top_image {
  padding-top: 10px;
}

#landing_bottom_image {
  padding-top: 10px;
}

#image_overlay {

}
#landing_bottom_image {
  background-image: url("/images/yoga_pose.jpg");
  background-size: cover;
  width: 100%;
  height: 800px;
}

.icon{
  color: #6D9B7C;
}

.Button{
  color: #6D9B7C;
}