@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.Menu.Item {
  font-family: 'Julius Sans One', sans-serif !important;
}

.icon{
  color: #6D9B7C;
}

.Button{
  color: #6D9B7C;
}