.aboutBackground{
  background: url('/app/public/images/topImage4.JPG') no-repeat fixed center;
  background-size: cover;
}

.joinNow{
  background-color: #6D9B7C;
  padding-top: 30px;
  padding-bottom: 30px;
}